:root {
  --corCliente: #352727; /* Define a variável para a cor de fundo */
}
/*----------------------------------------------------------------------------------------*/
/* Header */
/*----------------------------------------------------------------------------------------*/
  /* Imagens */
  /*----------------------------------------------------------------------------------------*/
    .logoScheffer {
      max-width: 30%;
    }
.titulo {
  color: black;
}
  /*----------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------------------*/